<footer id="footer">
  <div class='logo'>
    <img height="100%" width="100%" style="border-radius: 100%;" src="Butterfly/assets/img/neon-removebg.png" alt="">
  </div>
  <div class="footer-grid">
    <div class="contact">
      <div class="title">Contact Us</div>
      <div>
        <span><i class="fa-solid fa-phone"></i> <span class="phone">08033748394</span></span>
        <hr>
        <span><a href="mailto:faitholuwanifemi25@gmail.com"><i class="fa-solid fa-envelope"></i></a><span class="cont">mail</span></span>
        <hr>
        <span><a href="https://wa.me/2348033748394"><i class="fa-brands fa-whatsapp"></i></a><span class="cont">whatsapp</span></span>
      </div>      
    </div>
    <div class="follow">
      <div class="title">
        Follow Us
      </div>
      <div>
        <span><a href="https://www.instagram.com/neon_bags/"><i class="fa-brands fa-instagram"></i></a></span>
      </div>
    </div>
    <div class="services">
      <div class="title">Our Services</div>
      <ul>
        <li><a href="https://api.whatsapp.com/send?phone=2348033748394&text=Hi.%20I%20am%20__.%20I%20am%20contacting%20you%20for%20online%20training%20for%20bag%20making">Online Training</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=2348033748394&text=Hi.%20I%20am%20__.%20I%20am%20contacting%20you%20for%20physical%20training%20for%20bag%20making">Physical Training</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=2348033748394&text=Hi.%20I%20am%20__.%20I%20am%20contacting%20you%20for%20wholesales%20purchase%20of%20__">Wholesales</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=2348033748394&text=Hi.%20I%20am%20__.%20I%20am%20contacting%20you%20for%20private%20labelling.">Private Labelling</a></li>
      </ul>
    </div>
  </div>
</footer>
  <script src="https://checkout.flutterwave.com/v3.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="Assets/butt.js"></script>
</body>
</html>