<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Neon Creatives</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link type="image/png" href="Butterfly/assets/img/ICO.png" rel="icon" />
    <link href="Butterfly/assets/img/ICO.png" rel="apple-touch-icon" />
    <!-- Google Fonts -->
    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Molengo|Mandali"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Raleway:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- <link
      href="Butterfly/assets/vendor/icofont/icofont.min.css"
      rel="stylesheet"
    /> -->
    <!-- <link
      href="Butterfly/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    /> -->
    <!-- <link href="Butterfly/assets/vendor/venobox/venobox.css" rel="stylesheet" /> -->
    <!-- <link
      href="Butterfly/assets/vendor/line-awesome/css/line-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="Butterfly/assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    /> -->

    <!-- Template Main CSS File -->
    <link href="Assets/butt.css" rel="stylesheet" />
    <!-- <link href="Butterfly/assets/css/style.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div class="view-item">
  <i class='fas fa-times view'></i>
<div class='view-child'></div>
</div>
    <header>
      <div class="logo">
        <img src="Butterfly/assets/img/logo.jpg" class="logo" alt="" />
      </div>
      <div class="items toggle-style">
        <div class="item no-top-border"><a href="#">HOME</a></div>
        <div class="item"><a href="#">ABOUT</a></div>
        <div class="item has-subitem">
          <a>SERVICES   <i class="fa-solid fa-angle-down"></i></a>
          <ul class="submenu">
            <li class="subitem"><a href="https://www.google.com">Online Training</a> </li>
            <li class="subitem"><a href="https://www.google.com">Physical Training</a> </li>
            <li class="subitem"><a href="https://www.google.com">Private labelling</a> </li>
            <li class="subitem"><a href="https://www.google.com">Wholesales</a> </li>
          </ul>
        </div>
        <div class="item"><a href="#">BLOG</a></div>
        <div class="item"><a href="#">CONTACT</a></div>
      </div>

      <div class="toggle">
        <a id="toggle"><i class="fas fa-bars"></i></a>
      </div>
    </header>
