<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Neon Collections</title>
	<meta content="" name="description">
  <meta content="" name="keywords">
   
   <link type="image/png" href="Butterfly/assets/img/ICO.png" rel="icon">
  <link href="Butterfly/assets/img/ICO.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <link href="Butterfly/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="Butterfly/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="Butterfly/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="Butterfly/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="Butterfly/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="Butterfly/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"> 

  <!-- Template Main CSS File -->
<link href="Assets/butt.css" rel="stylesheet">
<link href="Butterfly/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <header>
  <div >
    <div class="brand">
      <h1>neon</h1>
    </div>
    <div class="icon"></div>
    <div class="nav-menu d-none d-lg-block options">
      <div><a href="#">Training</a></div>
      <div><a href="#">Purchase Bag</a></div>
      <div><a href="#">Contact Us</a></div>
      <div>
      <%if(currentUser){%>
      <a href="/logout">Logout</a>
      <%}%> 
      </div>
    </div>
  </div>
  </header>