<%- include("partials/header") %>
<head>
	<style type="text/css">
		body{
			background: #030802;
			padding-top: 75px;
		}
	</style>
</head>
<body id="edit">
	<form action="/edit" method="POST" enctype="multipart/form-data">
	<div>

<p>
  <input type="text" name="name" placeholder="Name of Bag here...">
</p>
<p>        
<label for="image">Image of bag here...</label>
</p>
<p>
	<input type="file" id="image" name="image" required>
</p>	
<p>
  <input type="text" name="price" placeholder="Price of bag here...">
</p>
<p>
	<input type="text" name="purchaseUrl" placeholder="Purchase URL">
</p>
		<p>        
			<input type="submit" name="">
</p>
    </div>
</form>
</body>




