<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" href="Butterfly/assets/img/ICO.png" rel="icon" />
    <link href="Butterfly/assets/img/ICO.png" rel="apple-touch-icon" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Molengo|Mandali" rel="stylesheet" />
    <link
    href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Fredoka:wght@400;500&family=Raleway:wght@200&family=Roboto+Mono:wght@500&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500&family=Boogaloo&family=Fredoka:wght@400;500&family=Raleway:wght@200&family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@500&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <title>Neon Creaties</title>
    <style>
        body{
            text-align: center;
        }
        h1 {
            font-family: 'Fredoka';
        }
        p {
            font-family: 'Mandali';
        }
    </style>
</head>
<body>
    <h1>Whoops Looks like you are on the wrong page</h1>
    <p>Please click <b><a href="/">here</a></b> to get our home page.</p>
</body>
</html>