<%- include("partials/header") %>

<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Exquisite Hand-made Bags and souvenirs</h1>
          Get your quality handbags, backpack, laptop bags,lunch bags, travel bags, and souvenirs. You really will love them.
          
          <div><a href="/gallery" class="btn-get-started scrollto">
            EXPLORE  
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a> 
        </div>
        </div>

        <div id="big" class="col-lg-6 order-1 order-lg-2 ">
          <img src="butterfly/assets/img/neon white.jpeg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
     
      </section>

        <div class="container ">
          <div class="row">
            <div class="list">
              <hr>
              <span><img src="butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.12 AM (2).jpeg" class="imga line"></span>
            <span><img src="butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.12 AM (3).jpeg" class="imga line"></span>
            <span><img src="butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.13 AM (1).jpeg" class="imga line"></span>
            <span><img src="butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.20 AM (1).jpeg" class="imga line"></span>
            <a id="a" href="/gallery"><i id="large" class="fas fa-arrow-circle-right"></i></a>
            <hr>
            </div>
          </div>   
        </div>
        
          
  <section id="about" class="about">
      <div class="container">

        <!-- <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div> -->

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <!-- <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Dine Pad</a></h4>
              <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p> -->
            </div>

          </div>
        </div>

      </div>
    </section>
       <section id="feedback" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>feedbacks</h2>
          <p>Here are a few of the many great feedbacks we get on a daily bases.</p>
        </div>
        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="butterfly/assets/img/Screenshot_20210708-193310.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>Dammy's feedback</p>
                <div class="portfolio-links">
                  <a href="butterfly/assets/img/Screenshot_20210708-193310.png" data-gall="portfolioGallery" class="venobox" title="View full screen"><i class="fa fa-expand" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="butterfly/assets/img/Screenshot_20210708-193318.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>feedback</p>
                <div class="portfolio-links">
                  <a href="butterfly/assets/img/Screenshot_20210708-193318.png" data-gall="portfolioGallery" class="venobox" title="View full screen"><i class="fa fa-expand" aria-hidden="true"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="butterfly/assets/img/Screenshot_20210708-193325.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>
                  feedback
                </p>
                <div class="portfolio-links">
                  <a href="butterfly/assets/img/Screenshot_20210708-193325.png" data-gall="portfolioGallery" class="venobox" title="View full screen"><i class="fa fa-expand" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="butterfly/assets/img/Screenshot_20210708-193328.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>feedback</p>
                <div class="portfolio-links">
                  <a href="butterfly/assets/img/Screenshot_20210708-193328.png" data-gall="portfolioGallery" class="venobox" title="View full screen"><i class="fa fa-expand" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="butterfly/assets/img/Screenshot_20210708-193352.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>feedback</p>
                <div class="portfolio-links">
                  <a href="butterfly/assets/img/Screenshot_20210708-193352.png" data-gall="portfolioGallery" class="venobox" title="View full screen"><i class="fa fa-expand" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="butterfly/assets/img/Screenshot_20210708-193333.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>feedback</p>
                <div class="portfolio-links">
                  <a href="butterfly/assets/img/Screenshot_20210708-193333.png" data-gall="portfolioGallery" class="venobox" title="View full screen"><i class="fa fa-expand" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>

    
<%- include("partials/footer") %>
