<%- include("partials/header") %>
<div class="login">
	Please Login
	<form action="/login" method="post">
	<p>
		<input type="text" name="username" placeholder="Name" required>
	</p>
	<p> 
		<input type="password" name="password" placeholder="password" required>
	</p>
		<input  type="Submit" class="btn btn-primary">
</form>
</div>
