<%- include("partials/header") %>
<head>
	<style type="text/css">
		body{
			background:#030802;
			padding-top: 75px;
		}
	</style>
</head>
<div class="login">
	Please Login
	<form action="/login" method="post">
	<p>
		<input type="text" name="username" placeholder="Name" required>
	</p>
	<p> 
		<input type="password" name="password" placeholder="password" required>
	</p>
		<input  type="Submit" class="btn btn-primary">
</form>
</div>
