<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Neon Creatives</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link type="image/png" href="../public/Butterfly/assets/img/ICO.png" rel="icon" />
    <link href="../public/Butterfly/assets/img/ICO.png" rel="apple-touch-icon" />
    <!-- Google Fonts -->
    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Molengo|Mandali"
      rel="stylesheet"
    />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Fredoka:wght@400;500&family=Raleway:wght@200&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <!-- Template Main CSS File -->
    <link href="../public/Assets/butt.css" rel="stylesheet" />
    <!-- <link href="../public/Butterfly/assets/css/style.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div class="overlay"></div>
    <span class="view-cart">
      <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
      <span class="text">View Cart</span>
    </span>
    <div class="omo-mehn">
    <div class="view-item"></div>
    </div>
    </div>
    <header>
      <div class="logo">
        <img src="../public/Butterfly/assets/img/logo.jpg" class="logo" alt="" />
      </div>
      <div class="items">
        <div class="item no-top-border"><a href="#">HOME</a></div>
        <div class="item"><a href="#">ABOUT</a></div>
        <div class="item has-subitem">
          <a>SERVICES <i class="fa-solid fa-angle-down"></i></a>
          <ul class="submenu">
            <li class="subitem">
              <a href="https://www.google.com">Online Training</a>
            </li>
            <li class="subitem">
              <a href="https://www.google.com">Physical Training</a>
            </li>
            <li class="subitem">
              <a href="https://www.google.com">Private labelling</a>
            </li>
            <li class="subitem">
              <a href="https://www.google.com">Wholesales</a>
            </li>
          </ul>
        </div>
        <div class="item"><a href="#">BLOG</a></div>
        <div class="item"><a href="#">CONTACT</a></div>
      </div>

      <div class="toggle">
        <a id="toggle"><i class="fas fa-bars"></i></a>
      </div>
    </header>
<div class="hero">
  <div class="heroL1 carousel">
    <figure>
      <img
        src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg"
        alt=""
      />
      <img
        src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.17 AM (1).jpeg"
        alt=""
      />
      <img
        src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.13 AM (3).jpeg"
        alt=""
      />
      <img
        src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.12 AM (1).jpeg"
        alt=""
      />
      <img
        src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg"
        alt=""
      />
    </figure>
  </div>
  <div class="heroL1 transparent-beauty">
    <div>
      <h1>Look Stylish, Be Stylish</h1>
    </div>
      <span class="shop"><a href="#">SHOP NOW <i class="fa-solid fa-cart-shopping"></i></a></span>
  </div>
</div>
<section class="ejo-1">
  <div class="eji-1">
    <img src="../Public/Butterfly/assets/img/Psalmy.jpg" alt="">
  </div>
  <div class="eji-2">
    <p>People will stare. Make it worth their while.</p>
    <em>- Harry Winston</em>
  </div>
</section>
<section id="gallery" class="gallery">
      <div class="container">
        <div class="section-title">
         <h4><p class="viewtype">Recently Added</p> <i class="fa-solid fa-ellipsis-vertical ellipsis"></i></h4>
            <ul class='choose-display'>
              <li class="view-choice">View All</li>
            </ul>
        </div>
        <div class="galle-1 show-the-stuff">
            <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
          </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='100%' />                
              </div>
              <div class="underimage">
              <p><span class="name">Beauty in African style</span> </p>

              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->
            <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
          </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='85%' />                
              </div>
              <p><span class="name">Beauty in african style</span> </p>
              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->  
          <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
          </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='85%' />                
              </div>
              <p><span class="name">Beauty in african style</span> </p>
              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->  
          <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
                </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='85%' />                
              </div>
              <p><span class="name">Beauty in african style</span> </p>
              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->  
          <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
          </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='85%' />                
              </div>
              <p><span class="name">Beauty in african style</span> </p>
              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->  
          <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
          </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='85%' />                
              </div>
              <p><span class="name">Beauty in african style</span> </p>
              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->
                    <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
                </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='85%' />                
              </div>
              <p><span class="name">Beauty in african style</span> </p>
              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->            <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
                </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='85%' />                
              </div>
              <p><span class="name">Beauty in african style</span> </p>
              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->            <!-- ----------------------------------- -->
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <span class="price-parent">
                <span class="tag"><i class="fa-solid fa-tag"></i></span>
            <span class="price">40,000</span>
                </span>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="../public/Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg" alt="" width='100%' height='85%' />                
              </div>
              <p><span class="name">Beauty in african style</span> </p>
              <button data-value='<%=image._id%>' class="view-good"><a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></button>
              <div style="display:none" class="add-to-cart">
                <form  method="post" action='/'>
                  <button type='submit' class='cart-button' name="id" data-value="<%=image._id%>" value="<%=image._id%>">
                    <i class="fas fa-plus"></i>
                    <div id="add-to-cart">ADD TO CART</div>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ----------------------------------- -->  
        </div>
      </div>
</section>
<br><br>
<section id="about" class="about">
  <div class="section-title">         
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
            <a href="https://youtu.be/5jUeZkdXOcU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <p class="training">Neon collections offers online and onsite training. <div><em style="font-size: large; font-weight: 10px">You can get trained on how to build your favourite quality handbags and make money for yourself at affordable prices.</em></div></p><br>
           <div style="text-align: center;"><a href="https://wa.me/2348033748394?text=Hello%20Neon,%20I%20want%20to%20Join%20the%20Bag-making%20training." class="video btn btn-large">LET'S GET LEARNING.</a></div>
          </div>
        </div>

      </div>
</section>

  <script src="../public/Assets/butt.js"></script>

</body>
</html>rgb(235, 235, 235)