* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
button {
  font-family: roboto;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
form:hover {
  text-decoration: underline;
}
section {
  padding: 30px 0;
}
p {
  font-family: "Mandali";
}

h4 #logo {
  display: inline-block;
}
#big {
  display: inline-block;
  box-shadow: 2px 4px 20px #dedad1;
}
.btn {
  background: #1bdb0d;
  color: white;
  border: none;
}
.btn:hover {
  background: #00ff26;
}

/* Header*/
header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: black;
  height: auto;
  align-items: center;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header a {
  color: white;
}
header a:hover {
  text-decoration: underline;
}
header a:active {
  color: #919191;
}
header > div.logo {
  height: 4.5rem;
  width: 6rem;
  padding: 0 1rem;
}
header img.logo {
  height: 100%;
  width: 100%;
}
.items {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  order: 2;
  width: 100%;
  align-items: center;
  font-family: "Dongle", sans-serif;
  max-height: 500px;
  transition: all 500ms;
}
.item {
  margin: auto 0;
  padding: 1rem 0;
  background: black;
  width: 95%;
  text-align: center;
  border-top: 0.1px solid #a5a3a3;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
.toggle-style {
  height: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
  border: none;
  opacity: 0;
}
.item a {
  text-decoration: none;
}
.item:first-child {
  padding-top: 0.5rem;
}
.subitem {
  border-top: 0px solid #bfbfbf;
  font-family: inherit;
}
.toggle {
  order: 1;
  padding: 0 1rem;
}
.no-top-border {
  border-top: none;
}
.has-subitem {
  position: relative;
}
.submenu {
  max-height: 0;
  height: 0;
  visibility: hidden;
  background-color: black;
  transition: max-height 500ms;
}
.submenu * {
  display: none;
}
.show-subitems {
  max-height: 300px;
  height: auto;
  display: block;
  visibility: visible;
}
.show-subitems * {
  display: block;
}
.has-subitem .fa-angle-down {
  font-size: 1.2rem;
}

/*HERO*/
.hero {
  position: relative;
  height: 20rem;
  width: 100%;
  color: #eeeeed;
}

.hero a {
  color: #eeeeed;
}
.heroL1 {
  height: 100%;
  width: 100%;
  position: absolute;
}
.carousel {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.carousel figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  overflow: hidden;
  animation: 20s slider infinite;
}
.carousel figure img {
  width: 20%;
  height: 20rem;
  float: left;
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.transparent-beauty {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
}
.transparent-beauty h1 {
  font-family: "Molengo";
  margin-top: 3rem;
  margin-bottom: 10%;
}
.shop {
  margin-top: 0;
  border: 1px white solid;
  background-color: transparent;
  padding: 1rem;
  transition: 50ms;
  align-self: center;
  position: relative;
}
.shop:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*BAG GALLERY*/
.galle-1 {
  display: grid;
  column-gap: 1rem;
  row-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(150px, 250px));
  margin: 0 2rem;
  text-align: center;
  padding: 0 auto;
}
.img {
  width: 60%;
  height: 8rem;
  position: relative;
}

.galle-1 > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
.galle-1 p {
  padding: 5px;
  margin-bottom: 5px;
}
.galle-1 p > span {
  padding: 5px;
}
#price {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: -7px;
  right: -12px;
  color: white;
  background-color: #17af0c;
  padding: 5px 5px;
  font-size: 10px;
  font-weight: 400;
  font-family: "Fredoka", sans-serif;
}
#price i {
  color: rgb(240, 240, 240);
  display: block;
  padding-bottom: 2px;
  font-size: 10px;
}
.view-good {
  border: none;
  border-radius: 3px;
  background-color: #17af0c;
  color: rgb(240, 240, 240);
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  margin-top: 2.6px;
}

/* VIEW */
.view-item {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 12;
  background-color: rgba(145, 145, 145, 0.7);
  backdrop-filter: blur(5px);
  color: black;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform 300ms;
}
.view-full {
  transform: scale(1);
}
.view-child {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.view-child > div {
  display: flex;
  flex-direction: column;
}
.view-item .view {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 25px;
  color: rgb(226, 224, 224);
}
.view-item .Himg {
  margin: 2%;
  border-radius: 5px;
}
.view-image {
  height: 5rem;
  width: 5rem;
}
.view-child > div ul {
  margin-left: 2%;
  text-align: start;
}
.view-child > ul > li {
  border-bottom: 1px solid grey;
  font-family: "Raleway", sans-serif;
}
/*-----------------------------------*/
.add-to-cart {
  right: 10px;
  display: inline-block;
  margin-top: 2.6px;
  border: 1px solid gray;
  font-size: 7px;
  padding: 2px;
}
.cart-button {
  background-color: white;
  border: none;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}
.add-to-cart i {
  font-size: 18px;
}
#add-to-cart {
  font-size: 6px;
  display: block;
  color: black;
}
#add-to-cart:hover {
  text-decoration: underline;
}
#name {
  font-size: 15px;
}

/* CART */
.commodity {
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin: 1rem;
  border-bottom: 1px solid black;
}
.commodity > * {
  flex: 1;
}
.commodity .L1_1 {
  padding: 3rem;
  text-align: start;
}
.commodity .L1_2 {
  height: 5rem;
  width: 15rem;
}

@media only screen and (min-width: 670px) {
  /*Header*/
  .items {
    flex-direction: row;
    width: auto;
  }
  .item {
    width: auto;
    border: none;
    padding: 1rem 2.5rem;
  }
  .toggle {
    display: none;
  }
  .submenu {
    left: 0;
    right: 0;
    top: 4rem;
    visibility: hidden;
    border-radius: 0 0 7px 7px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    padding-bottom: 1rem;
    transition: opacity 500ms;
  }
  .has-subitem:hover .submenu {
    max-height: 300px;
    height: auto;
    position: absolute;
    opacity: 1;
    visibility: visible;
  }
  .submenu:hover {
    max-height: 300px;
    height: auto;
    position: absolute;
    opacity: 1;
    visibility: visible;
  }
  .has-subitem:hover .submenu * {
    display: block;
  }

  /* HERO */

  .hero {
    height: 28rem;
  }
  .carousel figure img {
    height: 28rem;
  }
  .transparent-beauty h1 {
    font-size: 4rem;
    margin-bottom: 8rem;
    margin-top: 5rem;
  }

  /* BAG GALLERY */
  .galle-1 {
    row-gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  }

  /* VIEW */
  .view-item .view {
    padding: 10px;
    font-size: 55px;
  }
}

div .training {
  font-size: x-large;
  color: #171717 !important;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
}
.video {
  display: inline-block;
  width: 150px;
  height: 50px;
  font-family: sans-serif, Dosis;
  font-weight: bold;
}

/*show page*/
#show-page > div {
  width: 500px;
  height: 500px;
}

/* edit, login */
.login {
  color: white;
  text-align: center;
}
.login button {
  display: inline-block;
  width: 22em;
}
.login input {
  width: 22em;
}
#edit {
  text-align: center;
}
input,
label {
  width: 40%;
  color: white;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  border: none;
}
input::placeholder {
  color: white;
}
#edit input[type="submit"] {
  background: #1bdb0d;
}
input[type="file"] {
  display: none;
}
